{
  email {$CADDY_EMAIL}
}

{$CADDY_DOMAIN} {
  reverse_proxy n8n:5678 {
    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }
}